.star-rating {
    display: flex;
}

.star {
    padding-inline: 0.1em;
    cursor: pointer;
    width: 24px;
    height: 24px;
    stroke: black;
    stroke-width: 10px;
    fill: transparent;
    transition: scale 0.25s ease-out;
}

.star-rating:not([rating-readonly]) .star:hover {
    scale: 1.2;
}

.star.filled {
    fill: pink;
}